body{
    background-color: ivory;
}
hr{
    background-color: maroon;
    border-style:none;
    height: 2px;
    width:100%;
    /* Use for groove, ridge, inset, or outset color choice:
    border-top-color: maroon;
    border-left-color: maroon;
    border-right-color: maroon;
    border-bottom-color: maroon;
    */
}
#projectsType1{
    text-decoration:underline;
    text-decoration-color:maroon;
}
#projectsType2{
    text-decoration:none;
}
/*
#projectsLine{

}
*/
#slidingLine{
    background-color:ivory;
    border-style:none;
    border-top-style:dotted;
    height:0px;
    width:30px;
    border-width:6px;
}
